<launch>

  <node pkg="dynamixel_handler" name="dxl_handler" type="dynamixel_handler_node" output="screen">
        <!-- 通信の設定 -->
        <param name="DEVICE_NAME" value="/dev/ttyUSB0"/>
        <param name="BAUDRATE" value="1000000"/>
        <param name="dyn_comm_retry_num"      value="3"/>
        <param name="dyn_comm_inerval_msec"   value="5"/>
        <param name="dyn_comm_varbose"        value="false"/>

        <!-- サーボの初期設定 -->
        <param name="init_expected_servo_num"        value="12"/>
        <param name="init_auto_search_max_id"        value="35"/>
        <param name="init_hardware_error_auto_clean" value="true"/>

        <!-- ループの設定 -->
        <param name="loop_rate" value="150"/>
        <param name="ratio_state_read"  value="1"/>    <!-- この回数に一回 State を読み取る -->
        <param name="ratio_config_read" value="0"/>    <!-- この回数に一回 Config を読み取る, 0=初回のみ -->
        <param name="ratio_error_read"  value="1000"/> <!-- この回数に一回 Hardware error を読み取る -->
        
        <!-- Read方式 -->
        <param name="use_fast_read"  value="true"/>
        <param name="use_slipt_read" value="false"/>
        <param name="use_slipt_write" value="false"/>
        
        <!-- デバック用 -->
        <param name="varbose_callback"    value="false"/>
        <param name="varbose_mainloop"    value="100"/>
        <param name="varbose_write_cmd"   value="false"/>
        <param name="varbose_write_cfg"   value="false"/>
        <param name="varbose_read_st"     value="false"/>
        <param name="varbose_read_st_err" value="true"/>
        <param name="varbose_read_hwerr"  value="true"/>
        <param name="varbose_read_cfg"    value="false"/>
  </node>

</launch>