<launch>

  <node pkg="dynamixel_handler" name="dxl_handler" type="dynamixel_handler_node" output="screen">
      <param name="DEVICE_NAME" value="/dev/ttyUSB0"/>
      <param name="BAUDRATE" value="1000000"/>
      <param name="loop_rate" value="100"/>
      <param name="varbose" value="false"/>
      <param name="dyn_num_chained_servo"   value="12"/>
      <param name="dyn_search_max_id"       value="35"/>
      <param name="dyn_comm_retry_num"      value="3"/>
      <param name="dyn_comm_inerval_msec"   value="5"/>
      <param name="error_read_ratio" value="100"/> <!-- 100ループに一回 Hardware errorを読み取る -->
  </node>

</launch>